.ChatSidebarBody{
  flex-grow: 1;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  > div{
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
    gap: 5px;

    > img {
      cursor: pointer;
    }
    > h5 {
      color: gray;
    }

    > h4{
      color: var(--buttonBg);
    }

    > p {
      color: white;
      font-size: 12px;
      word-break: break-word;
    }
  }
}

.notMessagesTitle {
  margin-top: 15px;
  color: gray !important;
}