.StreamCart {
  color: var(--mainTextColor);
  display: flex;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  > img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }


  > div:nth-child(2){
    flex: 1;

    > h3{
      max-width: 100px;
      word-break: break-all;
    }
  }
  > div {
    margin-left: 10px;

    > h4 {
      color: gray;
    }

  }
}

.streamLive {
  display: flex;
  align-items: center;
  gap: 5px;
  > div {
    background-color: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}