.rightBlock{
  display: flex;
  align-items: center;
  gap: 18px;

  > button {
    height: 37px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    cursor: pointer;
    color: var(--mainTextColor);
    background-color: #53535F;
    border-radius: 5px;
  }

  > img {
    cursor: pointer;
  }
}

.buttonLogIn{
  background-color: #53535F;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.buttonSignUp{
  background-color: var(--buttonBg);
  color: white;
  padding: 4px;
}

