.aboutBlock{
  margin-top: 30px;
  padding: 20px;
  background-color: var(--korBG);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
}

.aboutTitle{
  font-weight: bold;
}

.miniTitle{
  color: gray;
}