.searchLine {
  display: flex;
  align-items: center;
  width: 400px;
  position: relative;
  > input {
    width: 100%;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 0px solid gray;
    padding-left: 0.8rem;
    color: gray;

    background-color: var(--dark-them);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 35px;
    &::placeholder{
      color: gray;
    }
  }

  > button {
    height: 37px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #53535F;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.dropDownSearch{
  position:absolute;
  top: 100%;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 400px;
  left: 0;
  background-color: var(--dark-them);
  width: 100%;
  z-index: 11;
  scrollbar-width: none;
  > div{
    padding-top: 10px;
    cursor: pointer;
    display: flex;
    border-top: 1px gray solid;

    > img{
      margin-left: 20px;
      max-width: 30px;
      max-height: 30px;
      object-fit: cover;
    }
    > div{
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //max-width: 60px;
    }
  }
}