body{
  font-family: Inter;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.mantine-Stepper-separator{
  display: none !important;
}

.mantine-Stepper-content{
  display: none !important;
}