.chatSidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--dark-them);
  border-left: 1px var(--dark-them);
  padding: 4px;

  > div {
    > h4 {
      text-align: center;
      color: white;
    }

    > input {
      background-color: transparent;
      border: 1px gray solid;
      color: gray;
      border-radius: 4px;
      padding: 3px;
      width: 280px;

      ::placeholder {
        color: gray;
      }
    }

  }

  &.close {
    transition: all 1s ease-in-out;
    transform: translateX(2%);
    max-width: 50px;

    > div:nth-child(1) {
      > h4 {
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
        width: 0px;
      }
      > svg {
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
        width: 0px;
      }
    }

    > div:nth-child(2) {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }

    > div:nth-child(3) {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }
  }

  &.open {
    transition: all 1s ease-in-out;
    transform: translateX(0%);
  }
}

.actionChat{
  display: flex;
  justify-content: flex-end;
  > button {
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 0;
    padding: 4px;
    background-color: var(--buttonBg);
  }
}

.chatSidebarHeader {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}